@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;

}







.prices {
    display: flex;
    margin: 20px 0;
}

.price-1{
    font-size: 30px;
    color: #747B8F;
    text-decoration-line: line-through;
    margin-right: 25px;
}


.promos {
    padding: 50px 0;
    text-align: center;
}

.promos h2 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 35px;
}

.categories {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categorie {
    display: flex;
    align-items: center;
    padding: 5rem;
}

.categorie img {
    width: 220px;
}

.categorie-1 {
    width: 60%;
}

.categorie-1 h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.categorie-1 p {
    color: #747B8F;
    font-size: 18px;
}

.categorie-img {
    width: 50%;
}


.product {
    text-align: center;
}


.product img {
    width: 150px;
    margin-bottom: 15px;
}


.product-txt h3 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}

.product-txt p {
    color: #747B8F;
    font-size: 16px;
    margin-bottom: 15px;
}

.precio {
    color: #24A19C !important;
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    color: #ffffff;
    background-color: #325288;
    border-radius: 25px;
    margin-top: 15px;
}
.btn-3:hover {
    background-color: #325288;
}
















    

