@import url(https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');
.fondo{
    background-color: #ffffff;
}

.fondo1{
    background: linear-gradient(#fc45c5, white);
}

.fondo1, h1, h2, h3, h4, h5 {
    color: #FAEEE7;
}

h1{    
    font-size: 4rem;
}

.fondo2{
    font-size: 1rem;
}

.miniFondo1{
    background-color: white;
    border-radius: 5px;
}

.subtitulo{
    font-size: 3rem;
    color: #05DFD7;
}

.letras1{
    font-size: 1.5rem;
    margin-bottom: 0
}

.letras2{
    font-size: 2.5rem;
    text-align: start;
    Color: #ffffff;
    
}

.letras3{
    font-size: 1.1rem;
    text-align: start;
    Color: #ffffff;
}

.letras4{
    font-size: 1rem;
}

.cardd{
    border-radius: 8px;
    border: 15px solid #8e86fd;
    width: max-content;
    height:max-content;
}

.texto-producto{
    background-color: #8e86fd;
    width: 300px;
    height: 250px;
    padding-top: 1rem;
    border: 1px solid red;  
}

.imagenes-producto{
    display: flex;
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente en el centro */
    width: 400px;
    height: 230px;
}
.imagenes-producto img {
    width: auto; 
    height: 90%;
}

.etiqueta1{
    width: max-content;
    background-color: #198754;  
    color: white;
    font-weight: bold;
    text-align: end;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

.etiqueta12{
    background-color: #198754;

}

.borde1{
    border: 1px solid red;
}
.borde2{
    border: 1px solid green;
}

.styboton{
    border: none;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    border-radius: 5px;
    color: white;
}

.desplazarMov {
    cursor: pointer; /* Cambia el cursor a una mano */
    border-radius: 5px; /* Añade bordes redondeados para que parezca un botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}
.desplazarMov:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el cursor */
}
.catalogo{
    font-family: "Bowlby One SC", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.fondo22{
    background: #c27ef0;
}

.subtitulo2{
    font-size: 2rem;
    color: #ffffff;
}
.highlight {
    color: #8900e4; /* Color del texto "Inflables" */
    font-weight: bold; /* Opcional: Para resaltar aún más la palabra */
}
.fondo3{
    background: linear-gradient(to right,#e655f3, white);
    margin-top: 5rem;
    
}

.subtitulo3{
    font-size: 65px;
    color: #ff00bf;
    font-weight: 600;
}
.p1{
    color: #ffffff;
    font-size: 55px;
}
.p2{
    color: #ff00bf;
    font-weight: bold;
    font-size: 50px;
}
.imgNuevo{
    max-height: 450px;
    
}