@import url(https://fonts.google.com/specimen/DM+Serif+Display);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
/* Estilos generales */
body{
    
    /*height: 100vh;
    overflow: hidden;*/
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  
} 
.formatoRegistro{
  max-width: 550px;
  margin-top: 70px;
  margin-bottom: 70px; /* Esto proporciona un espacio superior */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: #ffffff; 
  border: 10px solid #5F5D9C;
  
}
  .form input {
    margin-bottom: 18px;
    background: #ffffff;
    border-radius: 7px;
    padding: 18px;
    font-size: 14px;
    border: 1px solid #5F5D9C;
  }
  .form button {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #325288;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: bold;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #0e2941;
  }

  .registro{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 69px;
  color: #5F5D9C;
  }
 