@import url(https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.fondo{
    background-color: #ffffff;
}

.fondo1{
    /* background: linear-gradient(#df6705, white); */
    background: linear-gradient( #f0862f 50%, white 100%);
    min-height: 650px;
}

.fondo1, h1, h2, h3, h4 {
    color: #FAEEE7;
}
.fondo1, h5 {
    color: #FAEEE7;
}

h1{    
    font-size: 4rem;
}

.fondo2{
    font-size: 1rem;
}

.miniFondo1{
    background-color: white;
    border-radius: 5px;
}

.subtitulo{
    font-size: 3rem;
    color: #05DFD7;
}

.letras1{
    font-size: 1.5rem;
    margin-bottom: 0
}

.letras2{
    font-size: 2.5rem;
    text-align: start;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;   
}

.letras3{
    font-size: 23px;
    text-align: start;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;  
    background-color: red;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
}

.letras4{
    font-size: 1rem;
}
.catalogo{
    font-family: "Bowlby One SC", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.letrasCatalogo{
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}

.cardd{
    border-radius: 12px;
    background-color: #e1e1e1;
}

.texto-producto{
    background-color: #e6dd35;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.imagenes-producto{
    display: flex;
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente en el centro */
    width: 421.5px;
    height: 255px;
}
.imagenes-producto img {
    width: auto; 
    height: 82%;
}

.etiqueta1{
    width: max-content;
    background-color: #DDD201;  
    color: white;
    font-weight: bold;
    text-align: end;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

.etiqueta12{
    background-color: #198754;

}

.borde1{
    border: 1px solid red;
}
.borde2{
    border: 1px solid green;
}

.styboton{
    border: none;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}


.desplazarMov {
    cursor: pointer; /* Cambia el cursor a una mano */
    border-radius: 5px; /* Añade bordes redondeados para que parezca un botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}
.desplazarMov:hover {
    background-color: #04c6bf; /* Cambia el color de fondo al pasar el cursor */
}

.fondo22{
    background: #e6dd35;
    border-radius: 25px;
}

.subtitulo2{
    font-size: 2.1rem;
    color: #ffffff;
}
.highlight {
    color: #ff0000; /* Color del texto "Inflables" */
    font-weight: bold; /* Opcional: Para resaltar aún más la palabra */
}
.fondo3{
    background: linear-gradient(to right,#fb9847 100%,    white);
    background-image: radial-gradient(circle at -20.71% 50%, #e4f894 0, #e8ed83 10%, #ece171 20%, #eed460 30%, #f1c54e 40%, #f2b53c 50%, #f3a42c 60%, #f69321 70%, #f8811d 80%, #fb701f 90%, #fd5d26 100%);
    margin-top: 5rem;
    
}

.subtitulo3{
    font-size: 65px;
    color: #fff200;
    font-weight: 600;
}
.p1{
    color: #ffffff;
    font-size: 55px;
}
.p2{
    color: #fff200;
    font-weight: bold;
    font-size: 50px;
}
.imgNuevo{
    max-height: 450px;
    
}
.texto-producto2{
    background-color: #e6dd35;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-height: 400px;
}

.letras22{
    font-size: 85px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;   
}

.letras33{
    font-size: 38px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;  
    background-color: rgb(255, 24, 24);
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
}
.styboton2{
    border: none;
    padding: 14px 14px 14px 14px;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.imagenes-producto2{
    display: flex;
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente en el centro */
    width: 725px;
    height: 400px;
}
.imagenes-producto2 img {
    width: auto; 
    height: 82%;
}

  